<div class="page">
    <div>

        <div class="container">
            <div fxLayout="column" fxLayoutAlign="space-evenly center" style="padding-top: 30px;">

                <ul class="google">
                    <li style="color: blue;">F</li>
                    <li style="color: red;">u</li>
                    <li style="color: rgb(241, 241, 19);">n</li>
                    <li style="color: blue;">d</li>
                    <li style="color: green;">o</li>
                    <li style="color: red;">o</li>
                </ul>
                <h2 style="padding-top: 15px;">Find Your email</h2>
                <p style="padding-bottom:20px"> Enter your phone number or recovery email</p>
                <form [formGroup]="forgetPasswordForm">

                    <p fxLayout="column" fxLayoutAlign="start end">
                        <mat-form-field appearance="outline"  style="width: 25vw;">
                            <mat-label>Phone number or email</mat-label>
                            <input matInput placeholder="" formControlName="email">
                            <mat-error>Enter a valid email or phone number</mat-error>
                        </mat-form-field>
                        <button mat-flat-button color="primary" style="width: 6vw;">Next</button>
                    </p>
                </form>

            </div>

        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center" style="width: 29vw;">
            <mat-hint> languages

            </mat-hint>
            <mat-hint>

                <button mat-button color="grey">Help</button>
                <button mat-button color="lightgrey">Privacy</button>
                <button mat-button color="lightgrey">Terms</button>
            </mat-hint>


        </div>

    </div>
</div>